apiVersion: v1
kind: ServiceAccount
metadata:
  name: snitch
  namespace: default
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  name: read-all
rules:
- apiGroups: [""]
  resources: ["ingressroutes.traefik.containo.us", "services"]
  verbs: ["get", "watch", "list"]
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRoleBinding
metadata:
  name: read-secrets-global
subjects:
- kind: ServiceAccount
  name: snitch
  namespace: default
  apiGroup: ""
roleRef:
  kind: ClusterRole
  name: read-all
  apiGroup: ""